<template>
  <div class="row p-2">
    <div class="col-12">
      <form @submit="submitForm">
        <form-errors v-bind:errors="errors" />
        <div class="">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            v-model="email"
          />
        </div>
        <div class="">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            v-model="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { API_URL } from "../constants"
import FormErrors from "../components/FormErrors";

export default {
  name: "Login",
  components: { FormErrors },
  data: function () {
    return {
      errors: [],
      email: "",
      password: "",
    };
  },
  methods: {
    checkForm: function () {
      this.errors = [];

      if (this.email === "") {
        this.errors.push("You must provide an e-mail address.");
      } else if (!this.validEmail(this.email)) {
        this.errors.push("Invalid e-mail address.");
      }
      if (this.password === "") {
        this.errors.push("You must provide a password.");
      }
    },
    submitForm: async function (e) {
      e.preventDefault();

      this.checkForm();

      if (this.errors.length === 0) {
        try {
          const response = await axios.post(
            `${API_URL}/rest-auth/login/`,
            {
              email: this.email,
              password: this.password,
            }
          );
          if (response.status !== 200) {
            this.errors = [
              `There was an error loggin in: (${response.status}) - ${response.message}`,
            ];
          }
          this.$store.updateAuthToken(response.data.key);
          this.$router.push("/");
        } catch (e) {
          if (e.response.data.password) {
            e.response.data.password.forEach((error) =>
              this.errors.push(error)
            );
          }
          if (e.response.data.email) {
            e.response.data.email.forEach((error) => this.errors.push(error));
          }
        }
      }
    },
    validEmail: function (email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
  },
};
</script>
