<template>
  <div class="row" v-if="photos.length === 0">
    <h2>No photos pending approval</h2>
  </div>
  <div class="row" v-else>
    <Photo
      v-for="photo in photos"
      v-bind:key="photo.uuid"
      v-bind:photo="photo"
      v-bind:onUpdate="getPhotos"
    />
  </div>
</template>

<script>
// @ is an alias to /src
import Photo from "@/components/Photo.vue";

import { PHOTO_STATUS } from "../constants";
import axios from "../httpClient";

export default {
  name: "Home",
  components: {
    Photo,
  },
  data: function () {
    return { photos: [] };
  },
  methods: {
    getPhotos: async function () {
      const photosResponse = await axios.get(
        `/photos/?status=${PHOTO_STATUS.PENDING_APPROVAL}`
      );
      this.photos = photosResponse.status === 200 ? photosResponse.data : [];
    },
  },
  created: function () {
    this.getPhotos();
  },
};
</script>
