<template>
  <div class="row p-2">
    <div class="col-12">
      <form @submit="submitForm">
        <form-errors v-bind:errors="errors" />
        <div class="">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            v-model="email"
          />
          <div id="emailHelp" class="form-text">
            You'll receive an e-mail to confirm your address
          </div>
        </div>
        <div class="">
          <label for="password1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password1"
            v-model="password1"
          />
        </div>
        <div class="">
          <label for="password2" class="form-label">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="password2"
            v-model="password2"
          />
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import FormErrors from "../components/FormErrors";
import { API_URL } from "../constants"

export default {
  name: "Register",
  components: { FormErrors },
  data: function () {
    return {
      errors: [],
      email: "",
      password1: "",
      password2: "",
    };
  },
  methods: {
    checkForm: function () {
      this.errors = [];

      if (this.email === "") {
        this.errors.push("You must provide an e-mail address.");
      } else if (!this.validEmail(this.email)) {
        this.errors.push("Invalid e-mail address.");
      }
      if (this.password1 === "") {
        this.errors.push("You must provide a password.");
      } else if (this.password2 === "") {
        this.errors.push("You must confirm the password.");
      } else if (this.password1 !== this.password2) {
        this.errors.push("Both passwords must match.");
      }
    },
    submitForm: async function (e) {
      e.preventDefault();

      this.checkForm();

      if (this.errors.length === 0) {
        this.$store.setRegistrationSuccesful(false);
        try {
          const response = await axios.post(
            `${API_URL}/rest-auth/registration/`,
            {
              email: this.email,
              password1: this.password1,
              password2: this.password2,
            }
          );
          if (response.status !== 201) {
            this.errors = [
              `There was an error sending your registration request: (${response.status}) - ${response.message}`,
            ];
          }
          alert("Registration succesful!");
          this.$store.setRegistrationSuccesful(true);
          this.$router.push("/validate-account");
        } catch (e) {
          if (e.response.data.password1) {
            e.response.data.password1.forEach((error) =>
              this.errors.push(error)
            );
          }
          if (e.response.data.email) {
            e.response.data.email.forEach((error) => this.errors.push(error));
          }
        }
      }
    },
    validEmail: function (email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
  },
};
</script>
