<template>
  <div class="row p-2">
    <div class="col-12">
      <form @submit="submitForm">
        <form-errors v-bind:errors="errors" />
        <div class="">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" v-model="title" />
        </div>
        <div class="">
          <label for="picture" class="form-label">Picture</label>
          <input
            type="file"
            name="picture"
            ref="picture"
            class="form-control"
            id="picture"
          />
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "../httpClient";
import FormErrors from "../components/FormErrors";

export default {
  name: "UploadPhoto",
  components: { FormErrors },
  data: function () {
    return {
      errors: [],
      title: "",
    };
  },
  methods: {
    checkForm: function () {
      this.errors = [];

      if (this.title === "") {
        this.errors.push("You must provide a title.");
      }
    },
    submitForm: async function (e) {
      e.preventDefault();

      this.checkForm();

      if (this.errors.length === 0) {
        let dataForm = new FormData();
        for (let file of this.$refs.picture.files) {
          dataForm.append("file", file);
        }
        dataForm.append("title", this.title);
        try {
          const response = await axios.post(
            `/photos/`,
            dataForm
          );
          if (response.status !== 201) {
            this.errors = [
              `There was an error sending the photo: (${response.status}) - ${response.message}`,
            ];
          } else {
            alert("Photo uploaded succesfully");
            this.title = "";
            this.$refs.picture.value = null;
          }
        } catch (e) {
          if (e.response.data.title) {
            e.response.data.title.forEach((error) => this.errors.push(error));
          }
          if (e.response.data.file) {
            e.response.data.file.forEach((error) => this.errors.push(error));
          }
        }
      }
    },
  },
};
</script>
