<template>
  <div class="row p-2">
    <div class="col-12">
      <form @submit="submitForm">
        <form-errors v-bind:errors="errors" />
        <div class="">
          <label for="confirmation_token" class="form-label"
            >Confirmation Token</label
          >
          <input
            type="text"
            class="form-control"
            id="confirmation_token"
            aria-describedby="emailHelp"
            v-model="confirmationToken"
          />
          <div v-if="shouldDisplayHelpText" id="emailHelp" class="form-text">
            You should have received an e-mail with a token to confirm your
            address
          </div>
        </div>
        <button type="submit" class="btn btn-primary">
          Validate your e-mail
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import FormErrors from "../components/FormErrors.vue";
import { API_URL } from "../constants"

export default {
  components: { FormErrors },
  name: "Confirmation",
  props: ["token"],
  data: function () {
    return {
      errors: [],
      confirmationToken: this.token,
    };
  },
  computed: {
    shouldDisplayHelpText: function () {
      return (
        this.confirmationToken === "" || this.confirmationToken === undefined
      );
    },
  },
  methods: {
    submitForm: async function (e) {
      e.preventDefault();

      this.errors = [];
      if (this.confirmationToken === "") {
        this.errors.push("You must provide a confirmation token");
        return;
      }
      try {
        const response = await axios.post(
          `${API_URL}/rest-auth/registration/verify-email/`,
          {
            key: this.confirmationToken,
          }
        );
        if (response.status !== 200 || response.data.detail !== "ok") {
          this.errors = [
            `There was an error sending your registration request: (${response.status}) - ${response.message}`,
          ];
        }
        alert("Confirmation succesful! You can now login.");
        this.$router.push("/login");
      } catch (e) {
        if (e.response.data.password1) {
          e.response.data.password1.forEach((error) => this.errors.push(error));
        }
        if (e.response.data.email) {
          e.response.data.email.forEach((error) => this.errors.push(error));
        }
      }
    },
  },
};
</script>
