<template>
  <div class="col-12">
    <p class="comment-text">{{ comment.text }}</p>
    <p class="comment-by">
      Written by: {{ comment.creator }} at {{ updatedAt }}
    </p>
  </div>
</template>

<script>
import moment from "moment";

export default {
  name: "Comment",
  props: ["comment"],
  computed: {
    updatedAt: function () {
      return moment(this.comment.updated_at).format("DD/MM/YYYY HH:SS");
    },
  },
};
</script>

<style scoped>
.comment-text {
  margin-bottom: 0px;
}
.comment-by {
  font-size: 0.66em;
}
</style>
