<template>
  <div v-if="errors.length">
    <b>Please correct the following error(s):</b>
    <ul class="d-flex justify-content-center flex-wrap">
      <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ["errors"],
};
</script>

<style scoped>
li {
  margin-right: 2em;
}
</style>
