<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <router-link class="navbar-brand" to="/">
        Our Wedding Photos
      </router-link>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              v-if="isAuthenticated"
              class="nav-link"
              href="#"
              v-on:click="logout"
            >
              Logout
            </a>
            <router-link v-else class="nav-link" to="/login">
              Login
            </router-link>
          </li>
          <li class="nav-item" v-if="isAuthenticated">
            <router-link class="nav-link" to="/upload">
              Send a picture</router-link
            >
          </li>
          <li class="nav-item" v-if="isApprover">
            <router-link class="nav-link" to="/pending">
              Pending Approval</router-link
            >
          </li>
          <li class="nav-item" v-if="!isAuthenticated">
            <router-link class="nav-link" to="/register">
              Register an account</router-link
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import axios from "../httpClient";

export default {
  name: "NavBar",
  computed: {
    isAuthenticated: function () {
      return (
        this.$store.authToken !== null && this.$store.authToken !== undefined
      );
    },
    isApprover: function () {
      return this.$store.userData.is_approver;
    },
  },
  methods: {
    logout: async function () {
      const response = await axios.post("/rest-auth/logout/");
      if (response.status !== 200) {
        alert(
          `There was an error logging out: (${response.status}) - ${response.message}`
        );
      } else {
        this.$store.clearAuthToken();
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
