<template>
  <div class="col-12 col-lg-6 col-xl-4 col-xxl-3 photo-element">
    <div class="row photo">
      <div class="col-12">
        <h2>{{ photo.title }}</h2>
      </div>
    </div>
    <div class="row photo">
      <div class="col-12">
        <img class="image" v-bind:alt="photo.uuid" v-bind:src="photo.file" />
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 d-flex justify-content-around"
        v-if="!isPendingApproval"
      >
        <span
          >{{ photo.likes }} {{ photo.likes === 1 ? "Like" : "Likes" }}</span
        >
        <span>{{ photo.comments.length }} Comments</span>
      </div>
    </div>
    <div class="row" v-if="isPendingApproval">
      <div class="col-12 d-flex justify-content-around">
        <button class="btn btn-primary" @click="approve">Approve</button>
        <button class="btn btn-primary" @click="deny">Deny</button>
      </div>
    </div>
    <div class="row" v-else>
      <div class="col-12 d-flex justify-content-around">
        <button
          v-bind:class="photo.liked ? 'btn-success' : 'btn-primary'"
          v-bind:disabled="!isAuthenticated"
          class="btn"
          @click="like"
        >
          {{ photo.liked ? "Liked" : "Like" }}
        </button>
        <button
          class="btn btn-primary"
          @click="enableComment"
          v-bind:disabled="isCommentEnabled || !isAuthenticated"
        >
          Comment
        </button>
      </div>
    </div>
    <div class="row" v-if="isCommentEnabled">
      <div class="col-12 d-flex justify-content-around">
        <textarea
          class="form-control"
          id="disabledInput"
          placeholder="insert your comment here..."
          v-model="comment"
        />
        <button class="btn btn-primary" @click="sendComment">
          Send Comment
        </button>
      </div>
    </div>
    <div class="row" v-if="photo.comments.length > 0">
      <Comment
        v-for="comment in photo.comments"
        v-bind:comment="comment"
        v-bind:key="comment.uuid"
      />
    </div>
  </div>
</template>

<script>
import axios from "../httpClient";
import Comment from "./Comment";

export default {
  name: "Photo",
  props: ["photo", "onUpdate"],
  components: { Comment },
  data: function () {
    return { isCommentEnabled: false, comment: "" };
  },
  computed: {
    isPendingApproval: function () {
      return this.photo.status === "PENDING_APPROVAL";
    },
    isAuthenticated: function () {
      return (
        this.$store.authToken !== null && this.$store.authToken !== undefined
      );
    },
    isApprover: function () {
      return this.$store.userData.is_approver;
    },
  },
  methods: {
    approve: function () {
      axios.post(`/photos/${this.photo.uuid}/approve/`).then((response) => {
        if (response.status !== 200) {
          alert(
            `There was an error sending your approval: (${response.status}) - ${response.message}`
          );
        } else {
          alert("Approval succesful");
          this.onUpdate();
        }
      });
    },
    deny: function () {
      axios.post(`/photos/${this.photo.uuid}/deny/`).then((response) => {
        if (response.status !== 200) {
          alert(
            `There was an error sending your denial: (${response.status}) - ${response.message}`
          );
        } else {
          alert("Denial succesful");
          this.onUpdate();
        }
      });
    },
    like: function () {
      axios
        .post(
          `/photos/${this.photo.uuid}/${this.photo.liked ? "unlike" : "like"}/`
        )
        .then((response) => {
          if (response.status !== 200) {
            alert(
              `There was an error sending your ${
                this.photo.liked ? "unlike" : "like"
              }: (${response.status}) - ${response.message}`
            );
          } else {
            this.onUpdate();
          }
        });
    },
    enableComment: function () {
      this.isCommentEnabled = true;
    },
    sendComment: function () {
      axios
        .post(`/photos/${this.photo.uuid}/add-comment/`, { text: this.comment })
        .then((response) => {
          if (response.status !== 201) {
            alert(
              `There was an error sending your comment: (${response.status}) - ${response.message}`
            );
          } else {
            this.onUpdate();
            this.isCommentEnabled = false;
            this.comment = "";
            alert("Commented succesfully");
          }
        });
    },
  },
};
</script>

<style scoped>
.image {
  max-width: 100%;
}
</style>
